@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('HyundaiSansHeadKRLight.woff2') format('woff2'),
        url('HyundaiSansHeadKRLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('HyundaiSansHeadKRBold.woff2') format('woff2'),
        url('HyundaiSansHeadKRBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('HyundaiSansHeadKRMedium.woff2') format('woff2'),
        url('HyundaiSansHeadKRMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head KR';
    src: url('HyundaiSansHeadKRRegular.woff2') format('woff2'),
        url('HyundaiSansHeadKRRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('HyundaiSansTextKRBold.woff2') format('woff2'),
        url('HyundaiSansTextKRBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('HyundaiSansTextKRMedium.woff2') format('woff2'),
        url('HyundaiSansTextKRMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text KR';
    src: url('HyundaiSansTextKRRegular.woff2') format('woff2'),
        url('HyundaiSansTextKRRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

